<div class="container">
  <h1>Öğrenciler</h1>
  <div *ngIf="secOdev">
    <p><b>Ödev Adı : </b>{{secOdev.odevAdi}}</p>
    <p><b>Ödev Açıklaması : </b>{{secOdev.odevAciklama}}</p>
    <p><b>Ödevin Son Tarihi : </b>{{secOdev.odevSonTarih | date:'yyyy/MM/dd'}}</p>
    <p><b>Ödevin Öğrenci Sayısı : </b>{{secOdev.odevOgrenciSayisi}}</p>
    <p><b>Ödevin Dersi : </b>{{secOdev.odevDersAdi}}</p>
  </div>
  <div>

    <mat-form-field appearance="outline">
      <mat-label>Ödevler</mat-label>
      <mat-select placeholder="Dersler" (valueChange)="kayitFiltrele($event)">
        <mat-option *ngFor="let odev of odevler" [value]="odev.odevId">{{odev.odevAdi}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>



  <button mat-mini-fab style="margin-bottom: 20px;" color="primary" matTooltip="Odev Ekle" (click)="OdevEkle()" *ngIf="apiServis.yetkiKontrol(['ogretmen'])">
    <mat-icon aria-label="label">add</mat-icon>
  </button>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="kayitId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.kayitId}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="adSoyad">
      <mat-header-cell *matHeaderCellDef  >Öğrenci</mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.uyeBilgi.adSoyad}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  >Email</mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.uyeBilgi.email}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="uyeOdevSayisi">
      <mat-header-cell *matHeaderCellDef  >Öğrencinin Ödev Sayısı</mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.uyeBilgi.uyeOdevSayisi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="odevAdi">
      <mat-header-cell *matHeaderCellDef>Ödev Adı</mat-header-cell>
      <mat-cell *matCellDef="let kayit"> {{kayit.odevBilgi.odevAdi}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="kayitDurum">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Ödev Durumu</mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button style="cursor: default;" mat-button color="primary" *ngIf="kayit.kayitDurum == 1">Yapıldı</button>
        <button style="cursor: default;" mat-button color="warn" *ngIf="kayit.kayitDurum == 0">Yapılmadı</button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="islemler">
      <mat-header-cell *matHeaderCellDef>İşlemler</mat-header-cell>
      <mat-cell *matCellDef="let kayit">
        <button mat-icon-button color="primary" matTooltip="Odev Düzenle" (click)="OdevDuzenle(kayit)" *ngIf="apiServis.yetkiKontrol(['ogretmen'])">
          <mat-icon aria-label="label">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Odev Sil" (click)="OdevSil(kayit)" *ngIf="apiServis.yetkiKontrol(['ogretmen'])">
          <mat-icon aria-label="label">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 7,10]" showFirstLastButtons></mat-paginator>
</div>