<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #3f51b5; color: white;" class="mat-elevation-z10">Dersler</mat-toolbar>
    <mat-nav-list *ngIf="apiServis.OturumKontrol()">
      <a mat-list-item *ngFor="let ders of Dersler" [href]="'/ders-odev/'+ders.dersId">{{ders.dersAdi}}
        ({{ders.dersOdevSayisi}})</a>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z10">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <div>
        <span [routerLink]="['/']" style="cursor: pointer; margin-right: 25px;">Ödev Dağıtım Portalı Final Ödevi</span>
        <button mat-button [routerLink]="['/']">Anasayfa</button>

        <button mat-button [routerLink]="['/odev']">Ödevler</button>





      </div>





      <div>
        <button mat-button color="basic" class="mrg-btn" *ngIf="!apiServis.OturumKontrol()"
          [routerLink]="['/login']">Oturum Aç</button>
        <button mat-button color="basic" class="mrg-btn" *ngIf="apiServis.OturumKontrol()">{{kadi}}</button>
        <button mat-button color="basic" class="mrg-btn" *ngIf="apiServis.OturumKontrol()"
          (click)="OturumKapat()">Oturum Kapat</button>


        <button mat-button [matMenuTriggerFor]="menu" *ngIf="!apiServis.yetkiKontrol(['ogrenci']) && apiServis.OturumKontrol()" >
          <mat-icon>admin_panel_settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/uye']" *ngIf="apiServis.yetkiKontrol(['admin'])">Üyeler</button>
          <button mat-menu-item [routerLink]="['/kategori']">Kategoriler</button>
          <button mat-menu-item [routerLink]="['/ders']">Dersler</button>
          <button mat-menu-item [routerLink]="['/odev-kayit']">Ödev Kayıt Ekranı</button>

        </mat-menu>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>